### Conexión a la BD de RDS

In [121]:
#!pip3 install ipython-sql pgspecial
%load_ext sql
%sql postgresql://damjimenezgu:Analista1!@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Creacion de tablas iniciales

In [96]:
%%sql
--Creacion de tabla principal de municipios
CREATE TABLE desertion_by_municip (
NAME_DEPT TEXT,
CODE_DEPT VARCHAR(2),
NAME_MUNICIP TEXT,
CODE_MUNICIP VARCHAR(5),
YEAR_COHORT INT,
DESERTION_PERC FLOAT,
DESERTION_NO FLOAT,
LATITUDE FLOAT,
LONGITUDE FLOAT,
REGION TEXT);

--Creacion de tabla ICBF por municipios
CREATE TABLE ICBF_by_municip (
COD_MUNICIPIO VARCHAR(5),
ANIO INT,
ICBF_COBERT_VACU_BCG_NAC_V FLOAT,
ICBF_COBERT_VACU_FIB_AMA_1 FLOAT,
ICBF_TASA_FECUN_NIN_10_14 FLOAT,
ICBF_TASA_FECUN_NIN_15_19 FLOAT,
ICBF_TASA_MORT_DESNUT_5 FLOAT);

--Creacion de tabla CRIME por municipios
CREATE TABLE CRIME_by_municip (
CR_cod_municipio VARCHAR(5),
CR_year INT,
CR_amenaza INT,
CR_delito_sexual INT,
CR_homicidio INT,
CR_hurto_comercio INT,
CR_hurto_persona INT,
CR_hurto_residencia INT,
CR_lesiones_personales INT,
CR_terrorismo INT,
CR_violencia_intrafamiliar INT,
CR_total_crimes INT);

--Creacion de tabla saber_puntajes_mun
CREATE TABLE saber_puntajes_mun (
COD_MUNICIP VARCHAR(5),
PERIODO INT,
SA_PUNT_INGLES FLOAT,
SA_PUNT_LECTURA_CRITICA FLOAT,
SA_PUNT_MATEMATICAS FLOAT,
SA_PUNT_C_NATURALES FLOAT,
SA_PUNT_SOCIALES_CIUDADANAS FLOAT,
SA_PUNT_GLOBAL FLOAT);

--Creacion de tabla mun_poblacion
CREATE TABLE mun_poblacion (
cod_mun VARCHAR(5),
year INT,
PO_pob_cabecera INT,
PO_pob_rural INT,
PO_pob_total INT
);

--Creacion de tabla educacion_basica_vars
CREATE TABLE educacion_basica_vars (
YEAR INT,
CODE_MUNICIP VARCHAR(5),
ME_POBLACION_5_16 INT,
ME_TASA_MATRICULACION_5_16 FLOAT,
ME_COBERTURA_NETA FLOAT,
ME_COBERTURA_NETA_TRANSICION FLOAT,
ME_COBERTURA_NETA_PRIMARIA FLOAT,
ME_COBERTURA_NETA_SECUNDARIA FLOAT,
ME_COBERTURA_NETA_MEDIA FLOAT,
ME_COBERTURA_BRUTA FLOAT,
ME_COBERTURA_BRUTA_TRANSICION FLOAT,
ME_COBERTURA_BRUTA_PRIMARIA FLOAT,
ME_COBERTURA_BRUTA_SECUNDARIA FLOAT,
ME_COBERTURA_BRUTA_MEDIA FLOAT,
ME_TAMANO_PROMEDIO_DE_GRUPO FLOAT,
ME_SEDES_CONECTADAS_A_INTERNET FLOAT,
ME_DESERCION FLOAT,
ME_DESERCION_TRANSICION FLOAT,
ME_DESERCION_PRIMARIA FLOAT,
ME_DESERCION_SECUNDARIA FLOAT,
ME_DESERCION_MEDIA FLOAT,
ME_APROBACION FLOAT,
ME_APROBACION_TRANSICION FLOAT,
ME_APROBACION_PRIMARIA FLOAT,
ME_APROBACION_SECUNDARIA FLOAT,
ME_APROBACION_MEDIA FLOAT,
ME_REPROBACION FLOAT,
ME_REPROBACION_TRANSICION FLOAT,
ME_REPROBACION_PRIMARIA FLOAT,
ME_REPROBACION_SECUNDARIA FLOAT,
ME_REPROBACION_MEDIA FLOAT,
ME_REPITENCIA FLOAT,
ME_REPITENCIA_TRANSICION FLOAT,
ME_REPITENCIA_PRIMARIA FLOAT,
ME_REPITENCIA_SECUNDARIA FLOAT,
ME_REPITENCIA_MEDIA FLOAT,
ME_DESERTION_STUDENTS_N FLOAT,
ME_ENROLLED_STUDENTS_N FLOAT
);

--Creacion de tabla valor_agregado_municipio
CREATE TABLE valor_agregado_municipio (
CODE_MUNICIP VARCHAR(5),
PIB_VALOR_AGREGADO FLOAT,
YEAR INT
);

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
(psycopg2.errors.DuplicateTable) relation "desertion_by_municip" already exists

[SQL: --Creacion de tabla principal de municipios
CREATE TABLE desertion_by_municip (
NAME_DEPT TEXT,
CODE_DEPT VARCHAR(2),
NAME_MUNICIP TEXT,
CODE_MUNICIP VARCHAR(5),
YEAR_COHORT INT,
DESERTION_PERC FLOAT,
DESERTION_NO FLOAT,
LATITUDE FLOAT,
LONGITUDE FLOAT,
REGION TEXT);]
(Background on this error at: http://sqlalche.me/e/13/f405)

### Conceder permiso a usuarios sobre tablas creadas

In [77]:
%%sql
GRANT SELECT ON desertion_by_municip TO PUBLIC;
GRANT SELECT ON icbf_by_municip TO PUBLIC;
GRANT SELECT ON CRIME_by_municip TO PUBLIC;
GRANT SELECT ON saber_puntajes_mun TO PUBLIC;
GRANT SELECT ON mun_poblacion TO PUBLIC;
GRANT SELECT ON educacion_basica_vars TO PUBLIC;
GRANT SELECT ON valor_agregado_municipio TO PUBLIC;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
Done.
Done.

[]

### Inserción de datos desde CSVs a tablas creadas de RDS

In [16]:
%%sql
\copy desertion_by_municip from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\desertion_by_municip.csv' with (format csv, header true, delimiter ';');
\copy ICBF_by_municip from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\datos_icbf_by_munic_depurado.csv' with (format csv, header true, delimiter ';');
\copy CRIME_by_municip from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\mun_crime.csv' with (format csv, header true, delimiter ';');
\copy saber_puntajes_mun from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\saber_puntajes_mun.csv' with (format csv, header true, delimiter ';');
\copy mun_poblacion from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\mun_poblacion.csv' with (format csv, header true, delimiter ';');
\copy educacion_basica_vars from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\educacion_basica_vars.csv' with (format csv, header true, delimiter ';');
\copy valor_agregado_municipio from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\valor_agregado_municipio.csv' with (format csv, header true, delimiter ';');

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
0 rows affected.
0 rows affected.

[]

### Creación de índices para mejorar tiempo de  cruces, filtros y agregaciones

In [ ]:
%%sql
CREATE INDEX i1_desertion_by_municip ON desertion_by_municip (CODE_DEPT, CODE_MUNICIP,YEAR_COHORT);
CREATE INDEX i2_ICBF_by_municip ON ICBF_by_municip (COD_MUNICIPIO, ANIO);
CREATE INDEX i4_CRIME_by_municip ON CRIME_by_municip (CR_cod_municipio, CR_year);
CREATE INDEX i5_saber_puntajes_mun ON saber_puntajes_mun (COD_MUNICIP, PERIODO);
CREATE INDEX i6_mun_poblacion ON mun_poblacion (cod_mun, year);
CREATE INDEX i7_educacion_basica_vars ON educacion_basica_vars (CODE_MUNICIP, YEAR);
CREATE INDEX i8_valor_agregado_municipio ON valor_agregado_municipio (CODE_MUNICIP, YEAR);

### Agregar 0 a la izquierda de códigos de departamento y municipio para asegurar cruces

In [27]:
%%sql 
UPDATE desertion_by_municip SET CODE_DEPT = LPAD(CODE_DEPT::text, 2, '0');
UPDATE desertion_by_municip SET CODE_MUNICIP = LPAD(CODE_MUNICIP::text, 5, '0');

UPDATE ICBF_by_municip SET COD_MUNICIPIO = LPAD(COD_MUNICIPIO::text, 5, '0');
UPDATE CRIME_by_municip SET CR_cod_municipio = LPAD(CR_cod_municipio::text, 5, '0');
UPDATE saber_puntajes_mun SET COD_MUNICIP = LPAD(COD_MUNICIP::text, 5, '0');
UPDATE mun_poblacion SET cod_mun = LPAD(cod_mun::text, 5, '0');
UPDATE educacion_basica_vars SET CODE_MUNICIP = LPAD(CODE_MUNICIP::text, 5, '0');
UPDATE valor_agregado_municipio SET CODE_MUNICIP = LPAD(CODE_MUNICIP::text, 5, '0');

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
10098 rows affected.
10098 rows affected.
6732 rows affected.

[]

### Cruce de tablas para generar tabla maestra por Municipio

In [136]:
%%sql
DROP TABLE master_table_by_municipio;
CREATE TABLE master_table_by_municipio AS (
SELECT desert.*
,ICBF.ICBF_COBERT_VACU_BCG_NAC_V,ICBF.ICBF_COBERT_VACU_FIB_AMA_1,ICBF.ICBF_TASA_FECUN_NIN_10_14,ICBF.ICBF_TASA_FECUN_NIN_15_19,ICBF.ICBF_TASA_MORT_DESNUT_5
,crime.CR_amenaza,crime.CR_delito_sexual,crime.CR_homicidio,crime.CR_hurto_comercio,crime.CR_hurto_persona,crime.CR_hurto_residencia,crime.CR_lesiones_personales,crime.CR_terrorismo,crime.CR_violencia_intrafamiliar,crime.CR_total_crimes
,saber.SA_PUNT_INGLES,saber.SA_PUNT_LECTURA_CRITICA,saber.SA_PUNT_MATEMATICAS,saber.SA_PUNT_C_NATURALES,saber.SA_PUNT_SOCIALES_CIUDADANAS,saber.SA_PUNT_GLOBAL
,pob.PO_pob_cabecera,pob.PO_pob_rural,pob.PO_pob_total
,eduba.ME_POBLACION_5_16,eduba.ME_TASA_MATRICULACION_5_16,eduba.ME_COBERTURA_NETA,eduba.ME_COBERTURA_NETA_TRANSICION,eduba.ME_COBERTURA_NETA_PRIMARIA,eduba.ME_COBERTURA_NETA_SECUNDARIA,eduba.ME_COBERTURA_NETA_MEDIA,eduba.ME_COBERTURA_BRUTA,eduba.ME_COBERTURA_BRUTA_TRANSICION,eduba.ME_COBERTURA_BRUTA_PRIMARIA,eduba.ME_COBERTURA_BRUTA_SECUNDARIA,eduba.ME_COBERTURA_BRUTA_MEDIA,eduba.ME_TAMANO_PROMEDIO_DE_GRUPO,eduba.ME_SEDES_CONECTADAS_A_INTERNET,eduba.ME_DESERCION_TRANSICION,eduba.ME_DESERCION_PRIMARIA,eduba.ME_DESERCION_SECUNDARIA,eduba.ME_DESERCION_MEDIA,eduba.ME_APROBACION,eduba.ME_APROBACION_TRANSICION,eduba.ME_APROBACION_PRIMARIA,eduba.ME_APROBACION_SECUNDARIA,eduba.ME_APROBACION_MEDIA,eduba.ME_REPROBACION,eduba.ME_REPROBACION_TRANSICION,eduba.ME_REPROBACION_PRIMARIA,eduba.ME_REPROBACION_SECUNDARIA,eduba.ME_REPROBACION_MEDIA,eduba.ME_REPITENCIA,eduba.ME_REPITENCIA_TRANSICION,eduba.ME_REPITENCIA_PRIMARIA,eduba.ME_REPITENCIA_SECUNDARIA,eduba.ME_REPITENCIA_MEDIA,eduba.ME_ENROLLED_STUDENTS_N
,vam.PIB_VALOR_AGREGADO
FROM desertion_by_municip desert
LEFT JOIN ICBF_by_municip ICBF ON desert.CODE_MUNICIP = ICBF.COD_MUNICIPIO and desert.YEAR_COHORT = ICBF.ANIO
LEFT JOIN CRIME_by_municip crime ON desert.CODE_MUNICIP = crime.CR_cod_municipio and desert.YEAR_COHORT = crime.CR_year
LEFT JOIN saber_puntajes_mun saber ON desert.CODE_MUNICIP = saber.COD_MUNICIP and desert.YEAR_COHORT = saber.PERIODO
LEFT JOIN mun_poblacion pob ON desert.CODE_MUNICIP = pob.cod_mun and desert.YEAR_COHORT = pob.year
LEFT JOIN educacion_basica_vars eduba ON desert.CODE_MUNICIP = eduba.CODE_MUNICIP and desert.YEAR_COHORT = eduba.YEAR
LEFT JOIN valor_agregado_municipio vam ON desert.CODE_MUNICIP = vam.CODE_MUNICIP and desert.YEAR_COHORT = vam.YEAR);

-- Crear indice de tabla maestra
CREATE INDEX i3_master_table_by_municipio ON master_table_by_municipio (CODE_DEPT, CODE_MUNICIP,YEAR_COHORT);

-- Conceder permisos a demas usuarios
GRANT SELECT ON master_table_by_municipio TO PUBLIC;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
Done.
10098 rows affected.
Done.
Done.

[]

### Validaciones de la Master_table por municipio

In [137]:
%sql select count(*) from master_table_by_municipio;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(10098,)]

In [138]:
%sql select count(*) from (select distinct CODE_MUNICIP, year_cohort from master_table_by_municipio) x;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(10098,)]

In [139]:
%sql select min(DESERTION_PERC),avg(DESERTION_PERC),max(DESERTION_PERC),count(DESERTION_PERC) from master_table_by_municipio;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(0.0, 3.4309514211107652, 15.53, 9957)]

In [140]:
%sql select min(ICBF_COBERT_VACU_BCG_NAC_V),avg(ICBF_COBERT_VACU_BCG_NAC_V),max(ICBF_COBERT_VACU_BCG_NAC_V),count(ICBF_COBERT_VACU_BCG_NAC_V) from master_table_by_municipio;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(0.0, 58.81690285205138, 476.0, 6732)]

In [141]:
%sql select min(CR_amenaza),avg(CR_amenaza),max(CR_amenaza),count(CR_amenaza) from master_table_by_municipio;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(1, Decimal('38.4053687635574837'), 7642, 7376)]

Los siguientes municipios están en la tabla de saber_puntajes_mun pero no están en desertion_by_municip:

COD: 27086 - NOMBRE: BELEN DE BAJIRA - DEPTO: Chocó

COD: 99999 - NOMBRE: EXTRANJERO - DEPTO: EXTRANJERO

En realidad el único que importaría es el de BELÉN DE BAJARÍA. Pero igual lo que hice fue no tenerlo en cuenta, ya que al no estar en la tabla desertion_by_municip que nos pasó Aleja, no tendría los valores de la deserción.

In [142]:
%sql select min(SA_PUNT_INGLES),avg(SA_PUNT_INGLES),max(SA_PUNT_INGLES),count(SA_PUNT_INGLES) from master_table_by_municipio;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(30.25, 46.76568420696367, 70.4893617, 6676)]

In [143]:
%sql select min(PO_pob_cabecera),avg(PO_pob_cabecera),max(PO_pob_cabecera),count(PO_pob_cabecera) from master_table_by_municipio;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(0, Decimal('30957.226508785332'), 7309237, 7854)]

In [144]:
%sql select min(ME_POBLACION_5_16),avg(ME_POBLACION_5_16),max(ME_POBLACION_5_16),count(ME_POBLACION_5_16) from master_table_by_municipio;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(97, Decimal('9116.2200753071739992'), 1479334, 10092)]

In [145]:
%sql select min(PIB_VALOR_AGREGADO),avg(PIB_VALOR_AGREGADO),max(PIB_VALOR_AGREGADO),count(PIB_VALOR_AGREGADO) from master_table_by_municipio;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(1.0, 169.09660784313732, 999.0, 3366)]

In [109]:
%%sql
select * from master_table_by_municipio where CODE_MUNICIP = '27086';

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
0 rows affected.

[]