# Welcome to the RDS data upload

### By following the next PostgreSQL code, you will be able to understand the database architecture we created to support the tables of our project. We hope you find it easy to follow and replicate if you want.

### Create the RDS database
First we create a database (squema) were we storage our data. Besides, we created some user to be able to work in a paralell way.

In [ ]:
#Create database
create database desertion_pj_team67;

#Create users and grant them permissions
create user ccoy with login encrypted password '******';
grant all privileges on database desertion_pj_team67 to ccoy;
create user dmora with login encrypted password '******';
grant all privileges on database desertion_pj_team67 to dmora;
create user alagos with login encrypted password '******';
grant all privileges on database desertion_pj_team67 to alagos;
create user lparra with login encrypted password '******';
grant all privileges on database desertion_pj_team67 to lparra;
create user acastelblanco with login encrypted password '******';
grant all privileges on database desertion_pj_team67 to acastelblanco;

### Connect to the RDS database
Here we provide the way to establish the conection to our database.

In [1]:
#!pip3 install ipython-sql pgspecial
%load_ext sql
%sql postgresql://damjimenezgu:Analista1!@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67

### Create tables to load information

The variables were loaded in the master tables with the following prefixes to identify their origin:

CR: Crime - Police | SA: Saber | PO: Poppulation | ICBF: ICBF | ME: Mynistry of National Education  | PIB: PIB - DANE | DANE: DANE | POBR: Poverty (Multidimensional Poverty Index)

In the next cell, we create the layout for all the tables to upload the information.

In [ ]:
%%sql
--Create main table of municipalities
CREATE TABLE desertion_by_municip (
NAME_DEPT TEXT,
CODE_DEPT VARCHAR(2),
NAME_MUNICIP TEXT,
CODE_MUNICIP VARCHAR(5),
YEAR_COHORT INT,
DESERTION_PERC FLOAT,
DESERTION_NO FLOAT,
LATITUDE FLOAT,
LONGITUDE FLOAT,
REGION TEXT);

--Create table ICBF
CREATE TABLE ICBF_by_municip (
COD_MUNICIPIO VARCHAR(5),
ANIO INT,
ICBF_cobert_inmu_DTP_HEP_1 FLOAT,
ICBF_cobert_inmu_TV_1 FLOAT,
ICBF_cobert_vacu_BCG_nac_v FLOAT,
ICBF_cobert_vacu_fib_ama_1 FLOAT,
ICBF_cobert_vacu_haem_B_1 FLOAT,
ICBF_cobert_vacu_neumco_1 FLOAT,
ICBF_cobert_vacu_polio_1 FLOAT,
ICBF_cobert_vacu_rotav_1 FLOAT,
ICBF_num_afi_reg_contr_18 INT,
ICBF_num_afi_reg_subs_18  INT,
ICBF_num_nin_adol_desvinc FLOAT,
ICBF_raz_mort_mater_x100m_nac_viv FLOAT,
ICBF_tasa_fecun_nin_10_14 FLOAT,
ICBF_tasa_fecun_nin_15_19 FLOAT,
ICBF_tasa_mort_1_1000_nac_v FLOAT,
ICBF_tasa_mort_fetal FLOAT,
ICBF_tasa_mort_desnut_5 FLOAT,
ICBF_tasa_mort_EDA_5 FLOAT,
ICBF_tasa_mort_ERA_5 FLOAT
);

--Create table CRIME
CREATE TABLE CRIME_by_municip (
CR_cod_municipio VARCHAR(5),
CR_year INT,
CR_amenaza INT,
CR_delito_sexual INT,
CR_homicidio INT,
CR_hurto_comercio INT,
CR_hurto_persona INT,
CR_hurto_residencia INT,
CR_lesiones_personales INT,
CR_terrorismo INT,
CR_violencia_intrafamiliar INT,
CR_total_crimes INT);

--Create table saber_puntajes_mun
CREATE TABLE saber_puntajes_mun (
COD_MUNICIP VARCHAR(5),
PERIODO INT,
SA_PUNT_INGLES FLOAT,
SA_PUNT_LECTURA_CRITICA FLOAT,
SA_PUNT_MATEMATICAS FLOAT,
SA_PUNT_C_NATURALES FLOAT,
SA_PUNT_SOCIALES_CIUDADANAS FLOAT,
SA_PUNT_GLOBAL FLOAT);

--Create table mun_poblacion
CREATE TABLE mun_poblacion (
cod_mun VARCHAR(5),
year INT,
PO_pob_cabecera INT,
PO_pob_rural INT,
PO_pob_total INT
);

--Create table educacion_basica_vars
CREATE TABLE educacion_basica_vars (
YEAR INT,
CODE_MUNICIP VARCHAR(5),
ME_POBLACION_5_16 INT,
ME_TASA_MATRICULACION_5_16 FLOAT,
ME_COBERTURA_NETA FLOAT,
ME_COBERTURA_NETA_TRANSICION FLOAT,
ME_COBERTURA_NETA_PRIMARIA FLOAT,
ME_COBERTURA_NETA_SECUNDARIA FLOAT,
ME_COBERTURA_NETA_MEDIA FLOAT,
ME_COBERTURA_BRUTA FLOAT,
ME_COBERTURA_BRUTA_TRANSICION FLOAT,
ME_COBERTURA_BRUTA_PRIMARIA FLOAT,
ME_COBERTURA_BRUTA_SECUNDARIA FLOAT,
ME_COBERTURA_BRUTA_MEDIA FLOAT,
ME_TAMANO_PROMEDIO_DE_GRUPO FLOAT,
ME_SEDES_CONECTADAS_A_INTERNET FLOAT,
ME_DESERCION FLOAT,
ME_DESERCION_TRANSICION FLOAT,
ME_DESERCION_PRIMARIA FLOAT,
ME_DESERCION_SECUNDARIA FLOAT,
ME_DESERCION_MEDIA FLOAT,
ME_APROBACION FLOAT,
ME_APROBACION_TRANSICION FLOAT,
ME_APROBACION_PRIMARIA FLOAT,
ME_APROBACION_SECUNDARIA FLOAT,
ME_APROBACION_MEDIA FLOAT,
ME_REPROBACION FLOAT,
ME_REPROBACION_TRANSICION FLOAT,
ME_REPROBACION_PRIMARIA FLOAT,
ME_REPROBACION_SECUNDARIA FLOAT,
ME_REPROBACION_MEDIA FLOAT,
ME_REPITENCIA FLOAT,
ME_REPITENCIA_TRANSICION FLOAT,
ME_REPITENCIA_PRIMARIA FLOAT,
ME_REPITENCIA_SECUNDARIA FLOAT,
ME_REPITENCIA_MEDIA FLOAT,
ME_DESERTION_STUDENTS_N FLOAT,
ME_ENROLLED_STUDENTS_N FLOAT
);

--Create table valor_agregado_municipio
CREATE TABLE valor_agregado_municipio (
CODE_MUNICIP VARCHAR(5),
PIB_VALOR_AGREGADO FLOAT,
YEAR INT
);

--Create table dane_carlos
CREATE TABLE dane_carlos (
CODIGOINTERNOMUNI VARCHAR(5),
YEAR INT,
DANE_SED_01 INT,
DANE_SED_05 INT,
DANE_SED_02 INT,
DANE_SED_04 INT,
DANE_SED_03 INT,
DANE_SED_06 INT,
DANE_SED_07 INT,
DANE_SED_08 INT,
DANE_SED_09 INT,
DANE_SED_10 INT,
DANE_SED_11 INT,
DANE_SED_12 INT,
DANE_SED_13 INT,
DANE_SED_14 FLOAT,
DANE_SED_15 FLOAT,
DANE_TIC_01 FLOAT,
DANE_TIC_02 FLOAT,
DANE_TIC_03_1 INT,
DANE_TIC_03_0 INT,
DANE_TIC_04_1 INT,
DANE_TIC_04_0 INT,
DANE_TIC_05_1 INT,
DANE_TIC_05_0 INT,
DANE_TIC_06_1 INT,
DANE_TIC_06_0 INT,
DANE_TIC_07_1 INT,
DANE_TIC_07_0 INT,
DANE_TIC_08_1 INT,
DANE_TIC_08_0 INT,
DANE_TIC_10_1 INT,
DANE_TIC_10_0 INT,
DANE_TIC_11_1 INT,
DANE_TIC_11_0 INT,
DANE_SED_16 INT,
DANE_SED_17 INT,
DANE_SED_18 INT,
DANE_SED_20 INT,
DANE_SED_23 INT,
DANE_SED_24 INT
);

--Create table dane_alberto
create table dane_alberto as select * from dane.var_muni;
ALTER TABLE dane_alberto ADD COLUMN year INT;
UPDATE dane_alberto SET year = 2019;
ALTER TABLE dane_alberto ADD COLUMN CODIGOINTERNOMUNI_cast VARCHAR(5);
UPDATE dane_alberto SET CODIGOINTERNOMUNI_cast = CAST(CODIGOINTERNOMUNI as VARCHAR(5));


--Create table ind_pob_mult
CREATE TABLE ind_pob_mult (
CODE_MUNICIP VARCHAR(5),
YEAR INT,
POBR_IPM FLOAT,
POBR_IMP_Cabecera FLOAT,
POBR_IPM_cen_pobl FLOAT
);

--Create table benchmarking
CREATE TABLE benchmarking (
CODE_MUNICIP VARCHAR(5),
YEAR INT,
benchmarking_rank INT,
benchmarking_efficiency FLOAT
);

### Grant permission to the users for the tables above

Each user needs to access the tables. So, we provided permissions to al of them

In [77]:
%%sql
GRANT SELECT ON desertion_by_municip TO PUBLIC;
GRANT SELECT ON icbf_by_municip TO PUBLIC;
GRANT SELECT ON CRIME_by_municip TO PUBLIC;
GRANT SELECT ON saber_puntajes_mun TO PUBLIC;
GRANT SELECT ON mun_poblacion TO PUBLIC;
GRANT SELECT ON educacion_basica_vars TO PUBLIC;
GRANT SELECT ON valor_agregado_municipio TO PUBLIC;
GRANT SELECT ON dane_carlos TO PUBLIC;
GRANT SELECT ON dane_alberto TO PUBLIC;
GRANT SELECT ON ind_pob_mult TO PUBLIC;
GRANT SELECT ON benchmarking TO PUBLIC;

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
Done.
Done.

[]

### Upload data from CSVs files to be created in RDS

The information we gathered will be placed in the tables created. To do that, we upload them from the CSV files downloaded and managed from de web sites of the sources. If you want, you can review them by looking at the tables_CSVs.zip file provided with this codebase.

In [16]:
%%sql
\copy desertion_by_municip from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\desertion_by_municip.csv' with (format csv, header true, delimiter ';');
\copy ICBF_by_municip from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\datos_icbf_by_munic_depurado.csv' with (format csv, header true, delimiter ';');
\copy CRIME_by_municip from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\mun_crime.csv' with (format csv, header true, delimiter ';');
\copy saber_puntajes_mun from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\saber_puntajes_mun.csv' with (format csv, header true, delimiter ';');
\copy mun_poblacion from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\mun_poblacion.csv' with (format csv, header true, delimiter ';');
\copy educacion_basica_vars from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\educacion_basica_vars.csv' with (format csv, header true, delimiter ';');
\copy valor_agregado_municipio from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\valor_agregado_municipio.csv' with (format csv, header true, delimiter ';');
\copy dane_carlos from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\VariablesCarlos (4).csv' with (format csv, header true, delimiter ';');
\copy ind_pob_mult from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\indice_pobreza_municipal_2018.csv' with (format csv, header true, delimiter ';');
\copy benchmarking from 'C:\Users\Daniel_Jimenez\Documents\Daniel_Jimenez\ds4a\4_final_project\database_final_project\benchmarking.csv' with (format csv, header true, delimiter ';');

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
0 rows affected.
0 rows affected.

[]

### Create indexes to save time for joins, filters and aggregations

As a good practice, we created some indexes with the relevant variables to be sure that the performance of the queries is the best possible.

In [ ]:
%%sql
CREATE INDEX i1_desertion_by_municip ON desertion_by_municip (CODE_DEPT, CODE_MUNICIP,YEAR_COHORT);
CREATE INDEX i2_ICBF_by_municip ON ICBF_by_municip (COD_MUNICIPIO, ANIO);
CREATE INDEX i4_CRIME_by_municip ON CRIME_by_municip (CR_cod_municipio, CR_year);
CREATE INDEX i5_saber_puntajes_mun ON saber_puntajes_mun (COD_MUNICIP, PERIODO);
CREATE INDEX i6_mun_poblacion ON mun_poblacion (cod_mun, year);
CREATE INDEX i7_educacion_basica_vars ON educacion_basica_vars (CODE_MUNICIP, YEAR);
CREATE INDEX i8_valor_agregado_municipio ON valor_agregado_municipio (CODE_MUNICIP, YEAR);
CREATE INDEX i9_dane_carlos ON dane_carlos (CODIGOINTERNOMUNI, YEAR);
CREATE INDEX i10_dane_alberto ON dane_alberto (CODIGOINTERNOMUNI_cast, YEAR);
CREATE INDEX i11_ind_pob_mult ON ind_pob_mult (CODE_MUNICIP, YEAR);
CREATE INDEX i12_ind_benchmarking ON benchmarking (CODE_MUNICIP, YEAR);

### Left pad with 0 to the municipalities codes to ensure accurate joins

In [27]:
%%sql 
UPDATE desertion_by_municip SET CODE_DEPT = LPAD(CODE_DEPT::text, 2, '0');
UPDATE desertion_by_municip SET CODE_MUNICIP = LPAD(CODE_MUNICIP::text, 5, '0');

UPDATE ICBF_by_municip SET COD_MUNICIPIO = LPAD(COD_MUNICIPIO::text, 5, '0');
UPDATE CRIME_by_municip SET CR_cod_municipio = LPAD(CR_cod_municipio::text, 5, '0');
UPDATE saber_puntajes_mun SET COD_MUNICIP = LPAD(COD_MUNICIP::text, 5, '0');
UPDATE mun_poblacion SET cod_mun = LPAD(cod_mun::text, 5, '0');
UPDATE educacion_basica_vars SET CODE_MUNICIP = LPAD(CODE_MUNICIP::text, 5, '0');
UPDATE valor_agregado_municipio SET CODE_MUNICIP = LPAD(CODE_MUNICIP::text, 5, '0');
UPDATE dane_carlos SET CODIGOINTERNOMUNI = LPAD(CODIGOINTERNOMUNI::text, 5, '0');
UPDATE dane_alberto SET CODIGOINTERNOMUNI_cast = LPAD(CODIGOINTERNOMUNI_cast::text, 5, '0');
UPDATE ind_pob_mult SET CODE_MUNICIP = LPAD(CODE_MUNICIP::text, 5, '0');
UPDATE benchmarking SET CODE_MUNICIP = LPAD(CODE_MUNICIP::text, 5, '0');

   postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/adventuretime
 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
10098 rows affected.
10098 rows affected.
6732 rows affected.

[]

### Join tables to conform our 'big table' (master table)

To have access to all the information by one single query, we created a master table for municipalities with the fields from all our sources.

In [4]:
%%sql
DROP TABLE master_table_by_municipio;
CREATE TABLE master_table_by_municipio AS (
SELECT desert.*
,ICBF.ICBF_cobert_inmu_DTP_HEP_1,ICBF.ICBF_cobert_inmu_TV_1,ICBF.ICBF_cobert_vacu_BCG_nac_v,ICBF.ICBF_cobert_vacu_fib_ama_1,ICBF.ICBF_cobert_vacu_haem_B_1,ICBF.ICBF_cobert_vacu_neumco_1,ICBF.ICBF_cobert_vacu_polio_1,ICBF.ICBF_cobert_vacu_rotav_1,ICBF.ICBF_num_afi_reg_contr_18,ICBF.ICBF_num_afi_reg_subs_18,ICBF.ICBF_num_nin_adol_desvinc,ICBF.ICBF_raz_mort_mater_x100m_nac_viv,ICBF.ICBF_tasa_fecun_nin_10_14,ICBF.ICBF_tasa_fecun_nin_15_19,ICBF.ICBF_tasa_mort_1_1000_nac_v,ICBF.ICBF_tasa_mort_fetal,ICBF.ICBF_tasa_mort_desnut_5,ICBF.ICBF_tasa_mort_EDA_5,ICBF.ICBF_tasa_mort_ERA_5
,crime.CR_amenaza,crime.CR_delito_sexual,crime.CR_homicidio,crime.CR_hurto_comercio,crime.CR_hurto_persona,crime.CR_hurto_residencia,crime.CR_lesiones_personales,crime.CR_terrorismo,crime.CR_violencia_intrafamiliar,crime.CR_total_crimes
,saber.SA_PUNT_INGLES,saber.SA_PUNT_LECTURA_CRITICA,saber.SA_PUNT_MATEMATICAS,saber.SA_PUNT_C_NATURALES,saber.SA_PUNT_SOCIALES_CIUDADANAS,saber.SA_PUNT_GLOBAL
,pob.PO_pob_cabecera,pob.PO_pob_rural,pob.PO_pob_total
,eduba.ME_POBLACION_5_16,eduba.ME_TASA_MATRICULACION_5_16,eduba.ME_COBERTURA_NETA,eduba.ME_COBERTURA_NETA_TRANSICION,eduba.ME_COBERTURA_NETA_PRIMARIA,eduba.ME_COBERTURA_NETA_SECUNDARIA,eduba.ME_COBERTURA_NETA_MEDIA,eduba.ME_COBERTURA_BRUTA,eduba.ME_COBERTURA_BRUTA_TRANSICION,eduba.ME_COBERTURA_BRUTA_PRIMARIA,eduba.ME_COBERTURA_BRUTA_SECUNDARIA,eduba.ME_COBERTURA_BRUTA_MEDIA,eduba.ME_TAMANO_PROMEDIO_DE_GRUPO,eduba.ME_SEDES_CONECTADAS_A_INTERNET,eduba.ME_DESERCION_TRANSICION,eduba.ME_DESERCION_PRIMARIA,eduba.ME_DESERCION_SECUNDARIA,eduba.ME_DESERCION_MEDIA,eduba.ME_APROBACION,eduba.ME_APROBACION_TRANSICION,eduba.ME_APROBACION_PRIMARIA,eduba.ME_APROBACION_SECUNDARIA,eduba.ME_APROBACION_MEDIA,eduba.ME_REPROBACION,eduba.ME_REPROBACION_TRANSICION,eduba.ME_REPROBACION_PRIMARIA,eduba.ME_REPROBACION_SECUNDARIA,eduba.ME_REPROBACION_MEDIA,eduba.ME_REPITENCIA,eduba.ME_REPITENCIA_TRANSICION,eduba.ME_REPITENCIA_PRIMARIA,eduba.ME_REPITENCIA_SECUNDARIA,eduba.ME_REPITENCIA_MEDIA,eduba.ME_ENROLLED_STUDENTS_N
,vam.PIB_VALOR_AGREGADO
,dane_car.DANE_SED_01,dane_car.DANE_SED_05,dane_car.DANE_SED_02,dane_car.DANE_SED_04,dane_car.DANE_SED_03,dane_car.DANE_SED_06,dane_car.DANE_SED_07,dane_car.DANE_SED_08,dane_car.DANE_SED_09,dane_car.DANE_SED_10,dane_car.DANE_SED_11,dane_car.DANE_SED_12,dane_car.DANE_SED_13,dane_car.DANE_SED_14,dane_car.DANE_SED_15,dane_car.DANE_TIC_01,dane_car.DANE_TIC_02,dane_car.DANE_TIC_03_1,dane_car.DANE_TIC_03_0,dane_car.DANE_TIC_04_1,dane_car.DANE_TIC_04_0,dane_car.DANE_TIC_05_1,dane_car.DANE_TIC_05_0,dane_car.DANE_TIC_06_1,dane_car.DANE_TIC_06_0,dane_car.DANE_TIC_07_1,dane_car.DANE_TIC_07_0,dane_car.DANE_TIC_08_1,dane_car.DANE_TIC_08_0,dane_car.DANE_TIC_10_1,dane_car.DANE_TIC_10_0,dane_car.DANE_TIC_11_1,dane_car.DANE_TIC_11_0,dane_car.DANE_SED_16,dane_car.DANE_SED_17,dane_car.DANE_SED_18,dane_car.DANE_SED_20,dane_car.DANE_SED_23,dane_car.DANE_SED_24
,dane_alb.alu_01 as DANE_alu_01,dane_alb.alu_02 as DANE_alu_02,dane_alb.alu_04 as DANE_alu_04,dane_alb.alu_05 as DANE_alu_05,dane_alb.alu_06 as DANE_alu_06,dane_alb.alu_07 as DANE_alu_07,dane_alb.alu_08 as DANE_alu_08,dane_alb.alu_09 as DANE_alu_09,dane_alb.alu_10 as DANE_alu_10,dane_alb.alu_11 as DANE_alu_11,dane_alb.alu_12 as DANE_alu_12,dane_alb.alu_13 as DANE_alu_13,dane_alb.alu_14 as DANE_alu_14,dane_alb.alu_15 as DANE_alu_15,dane_alb.alu_16 as DANE_alu_16,dane_alb.alu_17 as DANE_alu_17,dane_alb.alu_18 as DANE_alu_18,dane_alb.alu_19 as DANE_alu_19,dane_alb.alu_20 as DANE_alu_20,dane_alb.alu_21 as DANE_alu_21,dane_alb.alu_22 as DANE_alu_22,dane_alb.alu_23 as DANE_alu_23,dane_alb.alu_24 as DANE_alu_24,dane_alb.alu_25 as DANE_alu_25,dane_alb.doc_01 as DANE_doc_01,dane_alb.doc_02 as DANE_doc_02,dane_alb.doc_03 as DANE_doc_03,dane_alb.doc_04 as DANE_doc_04,dane_alb.doc_05 as DANE_doc_05,dane_alb.doc_06 as DANE_doc_06,dane_alb.doc_07 as DANE_doc_07,dane_alb.doc_08 as DANE_doc_08,dane_alb.doc_09 as DANE_doc_09,dane_alb.doc_10 as DANE_doc_10,dane_alb.doc_11 as DANE_doc_11,dane_alb.doc_12 as DANE_doc_12,dane_alb.doc_13 as DANE_doc_13,dane_alb.doc_14 as DANE_doc_14,dane_alb.doc_15 as DANE_doc_15,dane_alb.doc_16 as DANE_doc_16,dane_alb.doc_17 as DANE_doc_17,dane_alb.doc_18 as DANE_doc_18,dane_alb.doc_19 as DANE_doc_19,dane_alb.doc_20 as DANE_doc_20,dane_alb.doc_21 as DANE_doc_21,dane_alb.doc_22 as DANE_doc_22,dane_alb.doc_23 as DANE_doc_23,dane_alb.doc_24 as DANE_doc_24,dane_alb.doc_25 as DANE_doc_25,dane_alb.doc_26 as DANE_doc_26,dane_alb.doc_27 as DANE_doc_27
,ipm.POBR_IPM,ipm.POBR_IMP_Cabecera,ipm.POBR_IPM_cen_pobl
FROM desertion_by_municip desert
LEFT JOIN ICBF_by_municip ICBF ON desert.CODE_MUNICIP = ICBF.COD_MUNICIPIO and desert.YEAR_COHORT = ICBF.ANIO
LEFT JOIN CRIME_by_municip crime ON desert.CODE_MUNICIP = crime.CR_cod_municipio and desert.YEAR_COHORT = crime.CR_year
LEFT JOIN saber_puntajes_mun saber ON desert.CODE_MUNICIP = saber.COD_MUNICIP and desert.YEAR_COHORT = saber.PERIODO
LEFT JOIN mun_poblacion pob ON desert.CODE_MUNICIP = pob.cod_mun and desert.YEAR_COHORT = pob.year
LEFT JOIN educacion_basica_vars eduba ON desert.CODE_MUNICIP = eduba.CODE_MUNICIP and desert.YEAR_COHORT = eduba.YEAR
LEFT JOIN valor_agregado_municipio vam ON desert.CODE_MUNICIP = vam.CODE_MUNICIP and desert.YEAR_COHORT = vam.YEAR
LEFT JOIN dane_carlos dane_car ON desert.CODE_MUNICIP = dane_car.CODIGOINTERNOMUNI and desert.YEAR_COHORT = dane_car.YEAR
LEFT JOIN dane_alberto dane_alb ON desert.CODE_MUNICIP = dane_alb.CODIGOINTERNOMUNI_cast and desert.YEAR_COHORT = dane_alb.YEAR
LEFT JOIN ind_pob_mult ipm ON desert.CODE_MUNICIP = ipm.CODE_MUNICIP and desert.YEAR_COHORT = ipm.YEAR);

-- Create index
CREATE INDEX i3_master_table_by_municipio ON master_table_by_municipio (CODE_DEPT, CODE_MUNICIP,YEAR_COHORT);

-- Grant permission
GRANT SELECT ON master_table_by_municipio TO PUBLIC;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
Done.
10098 rows affected.
Done.
Done.

[]

### Creating additional fields (feature engineering)

To make our analysis more accurate, we did some feature engineering to have robust data with both numerical and percentage values.

In [5]:
%%sql
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_01_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_02_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_03_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_04_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_05_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_06_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_09_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_10_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_11_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_12_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_13_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_03_0_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_03_1_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_04_0_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_04_1_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_05_0_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_05_1_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_06_0_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_06_1_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_07_0_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_07_1_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_08_0_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_08_1_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_10_0_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_10_1_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_11_0_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_TIC_11_1_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_16_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_17_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_18_p FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_20_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_23_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_SED_24_P FLOAT;

ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_02_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_05_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_06_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_07_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_08_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_09_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_10_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_11_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_12_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_13_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_14_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_15_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_16_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_17_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_18_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_19_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_20_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_21_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_22_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_23_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_24_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_ALU_25_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_02_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_03_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_04_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_05_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_06_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_07_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_08_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_09_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_10_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_11_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_12_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_13_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_14_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_15_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_16_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_17_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_18_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_19_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_20_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_21_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_22_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_23_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_24_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_25_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_26_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_27_P FLOAT;

ALTER TABLE master_table_by_municipio ADD COLUMN cr_amenaza_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN cr_delito_sexual_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN cr_homicidio_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN cr_hurto_comercio_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN cr_hurto_persona_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN cr_hurto_residencia_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN cr_lesiones_personales_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN cr_terrorismo_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN cr_total_crimes_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN cr_violencia_intrafamiliar_10mil FLOAT;

ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_28 INT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_29 INT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_30 INT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_31 INT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_28_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_29_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_30_P FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_31_P FLOAT;

ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_32 INT;
ALTER TABLE master_table_by_municipio ADD COLUMN DANE_DOC_32_P FLOAT;

ALTER TABLE master_table_by_municipio ADD COLUMN pib_valor_agregado_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN po_pob_cabecera_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN po_pob_rural_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN icbf_num_afi_reg_contr_18_10mil FLOAT;
ALTER TABLE master_table_by_municipio ADD COLUMN icbf_num_afi_reg_subs_18_10mil FLOAT;

UPDATE master_table_by_municipio SET DANE_SED_01_P =DANE_SED_01/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_02_P =DANE_SED_02/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_03_P =DANE_SED_03/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_04_P =DANE_SED_04/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_05_P =DANE_SED_05/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_06_P =DANE_SED_06/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_09_P =DANE_SED_09/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_10_P =DANE_SED_10/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_11_P =DANE_SED_11/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_12_P =DANE_SED_12/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_SED_13_P =DANE_SED_13/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_TIC_03_0_P =cast(DANE_TIC_03_0 as float)/(DANE_TIC_03_0+DANE_TIC_03_1);
UPDATE master_table_by_municipio SET DANE_TIC_03_1_P =cast(DANE_TIC_03_1 as float)/(DANE_TIC_03_0+DANE_TIC_03_1);
UPDATE master_table_by_municipio SET DANE_TIC_04_0_P =cast(DANE_TIC_04_0 as float)/(DANE_TIC_04_0+DANE_TIC_04_1);
UPDATE master_table_by_municipio SET DANE_TIC_04_1_P =cast(DANE_TIC_04_1 as float)/(DANE_TIC_04_0+DANE_TIC_04_1);
UPDATE master_table_by_municipio SET DANE_TIC_05_0_P =cast(DANE_TIC_05_0 as float)/(DANE_TIC_05_0+DANE_TIC_05_1);
UPDATE master_table_by_municipio SET DANE_TIC_05_1_P =cast(DANE_TIC_05_1 as float)/(DANE_TIC_05_0+DANE_TIC_05_1);
UPDATE master_table_by_municipio SET DANE_TIC_06_0_P =cast(DANE_TIC_06_0 as float)/(DANE_TIC_06_0+DANE_TIC_06_1);
UPDATE master_table_by_municipio SET DANE_TIC_06_1_P =cast(DANE_TIC_06_1 as float)/(DANE_TIC_06_0+DANE_TIC_06_1);
UPDATE master_table_by_municipio SET DANE_TIC_07_0_P =cast(DANE_TIC_07_0 as float)/(DANE_TIC_07_0+DANE_TIC_07_1);
UPDATE master_table_by_municipio SET DANE_TIC_07_1_P =cast(DANE_TIC_07_1 as float)/(DANE_TIC_07_0+DANE_TIC_07_1);
UPDATE master_table_by_municipio SET DANE_TIC_08_0_P =cast(DANE_TIC_08_0 as float)/(DANE_TIC_08_0+DANE_TIC_08_1);
UPDATE master_table_by_municipio SET DANE_TIC_08_1_P =cast(DANE_TIC_08_1 as float)/(DANE_TIC_08_0+DANE_TIC_08_1);
UPDATE master_table_by_municipio SET DANE_TIC_10_0_P =cast(DANE_TIC_10_0 as float)/(DANE_TIC_10_0+DANE_TIC_10_1);
UPDATE master_table_by_municipio SET DANE_TIC_10_1_P =cast(DANE_TIC_10_1 as float)/(DANE_TIC_10_0+DANE_TIC_10_1);
UPDATE master_table_by_municipio SET DANE_TIC_11_0_P =cast(DANE_TIC_11_0 as float)/(DANE_TIC_11_0+DANE_TIC_11_1);
UPDATE master_table_by_municipio SET DANE_TIC_11_1_P =cast(DANE_TIC_11_1 as float)/(DANE_TIC_11_0+DANE_TIC_11_1);
UPDATE master_table_by_municipio SET DANE_SED_16_P =cast(DANE_SED_16 as float)/DANE_ALU_04;
UPDATE master_table_by_municipio SET DANE_SED_17_P =cast(DANE_SED_17 as float)/DANE_SED_16;
UPDATE master_table_by_municipio SET DANE_SED_18_p =cast(DANE_SED_18 as float)/DANE_SED_16;
UPDATE master_table_by_municipio SET DANE_SED_20_P =cast(DANE_SED_20 as float)/DANE_SED_16;
UPDATE master_table_by_municipio SET DANE_SED_23_P =cast(DANE_SED_23 as float)/DANE_SED_16;
UPDATE master_table_by_municipio SET DANE_SED_24_P =cast(DANE_SED_24 as float)/DANE_SED_16;

UPDATE master_table_by_municipio SET DANE_ALU_02_P =DANE_ALU_02/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_05_P =DANE_ALU_05/DANE_ALU_04;
UPDATE master_table_by_municipio SET DANE_ALU_06_P =DANE_ALU_06/DANE_ALU_04;
UPDATE master_table_by_municipio SET DANE_ALU_07_P =DANE_ALU_07/DANE_ALU_04;
UPDATE master_table_by_municipio SET DANE_ALU_08_P =DANE_ALU_08/DANE_ALU_04;
UPDATE master_table_by_municipio SET DANE_ALU_09_P =DANE_ALU_09/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_10_P =DANE_ALU_10/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_11_P =DANE_ALU_11/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_12_P =DANE_ALU_12/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_13_P =DANE_ALU_13/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_14_P =DANE_ALU_14/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_15_P =DANE_ALU_15/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_16_P =DANE_ALU_16/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_17_P =DANE_ALU_17/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_18_P =DANE_ALU_18/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_19_P =DANE_ALU_19/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_20_P =DANE_ALU_20/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_21_P =DANE_ALU_21/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_22_P =DANE_ALU_22/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_23_P =DANE_ALU_23/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_24_P =DANE_ALU_24/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_ALU_25_P =DANE_ALU_25/DANE_ALU_01;
UPDATE master_table_by_municipio SET DANE_DOC_02_P =DANE_DOC_02/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_03_P =DANE_DOC_03/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_04_P =DANE_DOC_04/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_05_P =DANE_DOC_05/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_06_P =DANE_DOC_06/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_07_P =DANE_DOC_07/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_08_P =DANE_DOC_08/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_09_P =DANE_DOC_09/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_10_P =DANE_DOC_10/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_11_P =DANE_DOC_11/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_12_P =DANE_DOC_12/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_13_P =DANE_DOC_13/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_14_P =DANE_DOC_14/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_15_P =DANE_DOC_15/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_16_P =DANE_DOC_16/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_17_P =DANE_DOC_17/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_18_P =DANE_DOC_18/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_19_P =DANE_DOC_19/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_20_P =DANE_DOC_20/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_21_P =DANE_DOC_21/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_22_P =DANE_DOC_22/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_23_P =DANE_DOC_23/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_24_P =DANE_DOC_24/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_25_P =DANE_DOC_25/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_26_P =DANE_DOC_26/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_27_P =DANE_DOC_27/DANE_DOC_01;

UPDATE master_table_by_municipio SET cr_amenaza = 0 WHERE cr_amenaza IS NULL;
UPDATE master_table_by_municipio SET cr_delito_sexual = 0 WHERE cr_delito_sexual IS NULL;
UPDATE master_table_by_municipio SET cr_homicidio = 0 WHERE cr_homicidio IS NULL;
UPDATE master_table_by_municipio SET cr_hurto_comercio = 0 WHERE cr_hurto_comercio IS NULL;
UPDATE master_table_by_municipio SET cr_hurto_persona = 0 WHERE cr_hurto_persona IS NULL;
UPDATE master_table_by_municipio SET cr_hurto_residencia = 0 WHERE cr_hurto_residencia IS NULL;
UPDATE master_table_by_municipio SET cr_lesiones_personales = 0 WHERE cr_lesiones_personales IS NULL;
UPDATE master_table_by_municipio SET cr_terrorismo = 0 WHERE cr_terrorismo IS NULL;
UPDATE master_table_by_municipio SET cr_total_crimes = 0 WHERE cr_total_crimes IS NULL;
UPDATE master_table_by_municipio SET cr_violencia_intrafamiliar = 0 WHERE cr_violencia_intrafamiliar IS NULL;

UPDATE master_table_by_municipio SET cr_amenaza_10mil =(cast(cr_amenaza as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET cr_delito_sexual_10mil =(cast(cr_delito_sexual as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET cr_homicidio_10mil =(cast(cr_homicidio as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET cr_hurto_comercio_10mil =(cast(cr_hurto_comercio as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET cr_hurto_persona_10mil =(cast(cr_hurto_persona as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET cr_hurto_residencia_10mil =(cast(cr_hurto_residencia as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET cr_lesiones_personales_10mil =(cast(cr_lesiones_personales as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET cr_terrorismo_10mil =(cast(cr_terrorismo as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET cr_total_crimes_10mil =(cast(cr_total_crimes as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET cr_violencia_intrafamiliar_10mil =(cast(cr_violencia_intrafamiliar as float)/po_pob_total)*10000;

UPDATE master_table_by_municipio SET DANE_DOC_28 =COALESCE(DANE_DOC_26,0)+COALESCE(DANE_DOC_27,0)+COALESCE(DANE_DOC_12,0)+COALESCE(DANE_DOC_13,0)+COALESCE(DANE_DOC_14,0)+COALESCE(DANE_DOC_15,0)+COALESCE(DANE_DOC_16,0);
UPDATE master_table_by_municipio SET DANE_DOC_29 =COALESCE(DANE_DOC_17,0)+COALESCE(DANE_DOC_18,0)+COALESCE(DANE_DOC_19,0);
UPDATE master_table_by_municipio SET DANE_DOC_30 =COALESCE(DANE_DOC_20,0)+COALESCE(DANE_DOC_21,0)+COALESCE(DANE_DOC_22,0);
UPDATE master_table_by_municipio SET DANE_DOC_31 =COALESCE(DANE_DOC_23,0)+COALESCE(DANE_DOC_24,0)+COALESCE(DANE_DOC_25,0);
UPDATE master_table_by_municipio SET DANE_DOC_28_P =DANE_DOC_28/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_29_P =DANE_DOC_29/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_30_P =DANE_DOC_30/DANE_DOC_01;
UPDATE master_table_by_municipio SET DANE_DOC_31_P =DANE_DOC_31/DANE_DOC_01;

UPDATE master_table_by_municipio SET DANE_DOC_32 =COALESCE(DANE_DOC_05,0)+COALESCE(DANE_DOC_07,0);
UPDATE master_table_by_municipio SET DANE_DOC_32_P =DANE_DOC_32/DANE_DOC_01;

UPDATE master_table_by_municipio SET pib_valor_agregado_10mil =(cast(pib_valor_agregado as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET po_pob_cabecera_10mil =(cast(po_pob_cabecera as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET po_pob_rural_10mil =(cast(po_pob_rural as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET icbf_num_afi_reg_contr_18_10mil =(cast(icbf_num_afi_reg_contr_18 as float)/po_pob_total)*10000;
UPDATE master_table_by_municipio SET icbf_num_afi_reg_subs_18_10mil =(cast(icbf_num_afi_reg_subs_18 as float)/po_pob_total)*10000;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
2722 rows affected.
1725 rows affected.
2452 rows affected.
2775 rows affected.
1797 rows affected.
2622 rows affected.
524 rows affected.
8959 rows affected.
233 rows affected.
1455 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.
10098 rows affected.

[]

### Validate data integrity and consistence

Using previous table, we did all our analysis. But before starting it, we did a bunch of validations to guarantee that the data is consistent and integral.

In [11]:
%sql select count(*) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(10098,)]

In [12]:
%sql select count(*) from (select distinct CODE_MUNICIP, year_cohort from master_table_by_municipio) x;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(10098,)]

In [13]:
%sql select min(DESERTION_PERC),avg(DESERTION_PERC),max(DESERTION_PERC),count(DESERTION_PERC) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(0.0, 3.430951421110767, 15.53, 9957)]

In [14]:
%sql select min(ICBF_COBERT_VACU_BCG_NAC_V),avg(ICBF_COBERT_VACU_BCG_NAC_V),max(ICBF_COBERT_VACU_BCG_NAC_V),count(ICBF_COBERT_VACU_BCG_NAC_V) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(0.0, 58.81690285205138, 476.0, 6732)]

In [15]:
%sql select min(CR_amenaza),avg(CR_amenaza),max(CR_amenaza),count(CR_amenaza) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(1, Decimal('38.4053687635574837'), 7642, 7376)]

Los siguientes municipios estn en la tabla de saber_puntajes_mun pero no estn en desertion_by_municip:

COD: 27086 - NOMBRE: BELEN DE BAJIRA - DEPTO: Choc

COD: 99999 - NOMBRE: EXTRANJERO - DEPTO: EXTRANJERO

En realidad el nico que importara es el de BELN DE BAJARA. Pero igual lo que hice fue no tenerlo en cuenta, ya que al no estar en la tabla desertion_by_municip que nos pas Aleja, no tendra los valores de la desercin.

In [16]:
%sql select min(SA_PUNT_INGLES),avg(SA_PUNT_INGLES),max(SA_PUNT_INGLES),count(SA_PUNT_INGLES) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(30.25, 46.765684206963826, 70.4893617, 6676)]

In [17]:
%sql select min(PO_pob_cabecera),avg(PO_pob_cabecera),max(PO_pob_cabecera),count(PO_pob_cabecera) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(0, Decimal('31391.222618340265'), 7566185, 10098)]

In [18]:
%sql select min(ME_POBLACION_5_16),avg(ME_POBLACION_5_16),max(ME_POBLACION_5_16),count(ME_POBLACION_5_16) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(97, Decimal('9116.2200753071739992'), 1479334, 10092)]

In [5]:
%sql select min(PIB_VALOR_AGREGADO),avg(PIB_VALOR_AGREGADO),max(PIB_VALOR_AGREGADO),count(PIB_VALOR_AGREGADO) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(1.0, 744.8369875222816, 226206.0, 3366)]

In [20]:
%sql select min(DANE_SED_14),avg(DANE_SED_14),max(DANE_SED_14),count(DANE_SED_14) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(0.000264384, 0.028171428326829263, 0.305426015, 205)]

In [22]:
%sql select min(DANE_alu_07),avg(DANE_alu_07),max(DANE_alu_07),count(DANE_alu_07) from master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(Decimal('0'), Decimal('12.8189116859946476'), Decimal('364'), 1121)]

In [7]:
%sql select min(benchmarking_efficiency),avg(benchmarking_efficiency),max(benchmarking_efficiency),count(benchmarking_efficiency) from cluster_master_table_by_municipio;

 * postgresql://damjimenezgu:***@ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com/desertion_pj_team67
1 rows affected.

[(0.7288, 0.9649382142857154, 1.0, 1120)]

### Create the final table to be consulted from the Dash application in clustering 

In the clustering code, we created our final table to be used for the dash. In the next cell, we added a couple of fields to run the initial DEA.

In [ ]:
%%sql
GRANT SELECT ON cluster_master_table_by_municipio TO PUBLIC;

ALTER TABLE cluster_master_table_by_municipio ADD COLUMN benchmarking_rank INT;
ALTER TABLE cluster_master_table_by_municipio ADD COLUMN benchmarking_efficiency FLOAT;

UPDATE cluster_master_table_by_municipio SET benchmarking_rank = benchmarking.benchmarking_rank
FROM benchmarking
WHERE cluster_master_table_by_municipio.CODE_MUNICIP = benchmarking.CODE_MUNICIP and cluster_master_table_by_municipio.year_cohort=benchmarking.year;

UPDATE cluster_master_table_by_municipio SET benchmarking_efficiency = benchmarking.benchmarking_efficiency
FROM benchmarking
WHERE cluster_master_table_by_municipio.CODE_MUNICIP = benchmarking.CODE_MUNICIP and cluster_master_table_by_municipio.year_cohort=benchmarking.year;

# We hope you have understood all the code above and that now you have a more deep knowledge of the database architecture created for our project. Thanks for reading.