# DANE Educación Formal 2019
Censo de sedes educativas que ofrecen educación básica formal en preescolar, básica primaria, básica secundaria y media. Se incluye tambien ciclos léctivos integrados CLEI (eduacción para adultos y jovenes en extra edad) y modelos educativos flexibles.

## Análisis Exploratorio de Datos
El objetivo de esta sección es generar un entendimiento de los datos obtenidos y la manera en que serán utilizados en el `Estudio de Deserción Escolar`.
### Unidad de Análisis
Sedes educativas de educación formal, legalmente constituidas, del sector oficial y del sector no oficial, que ofrecen los niveles de preescolar, básica primaria, básica secundaria y media localizados en el área urbana y en el área rural dentro del territorio nacional. \
El desarrollo de este cuaderno debe lograr una agregación de los datos a nivel de municipio y departamento.

In [45]:
import pandas as pd
import os

from sqlalchemy import create_engine, text

#maximum number of rows to display
pd.options.display.max_rows = 20

DB_USERNAME = 'postgres'#'alagos'
DB_PASSWORD = 'postgres' #'Team67!'
DB_ENDPOINT = 'localhost' #'ds4a-demo-instance.cqjr4hyu9xaq.us-east-1.rds.amazonaws.com'
DB_NAME = 'postgres' #'desertion_pj_team67'
engine=create_engine(f'postgresql://{DB_USERNAME}:{DB_PASSWORD}@{DB_ENDPOINT}/{DB_NAME}', max_overflow=20)

def runQuery(sql):
    result = engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [49]:
df = runQuery("""
select * from sede_caratula;""")

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59052 entries, 0 to 59051
Data columns (total 69 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       59052 non-null  int64
 1   SEDE_CODIGO                 59052 non-null  int64
 2   PERIODO_ID                  59052 non-null  int64
 3   PERIODO_ANIO                59052 non-null  int64
 4   ESTADO_ID                   59052 non-null  int64
 5   ESTADO_NOMBRE               59052 non-null  object
 6   NOVEDAD_ID                  59052 non-null  int64
 7   NOVEDAD_CODIGO              59052 non-null  int64
 8   NOVEDAD_NOMBRE              59052 non-null  object
 9   SEDE_NOVEDAD_OBSERVACION    59052 non-null  object
 10  SEDE_NOMBRE                 59052 non-null  object
 11  SEDE_NIT                    59052 non-null  object
 12  SEDE_DIRECCION              59052 non-null  object
 13  SEDE_TELEFONO               59052 non-null  object
 14  SEDE_FAX                    59052 non-null  object
 15  SEDE_EMAIL                  59052 non-null  object
 16  SEDE_SITIOWEB               59052 non-null  object
 17  ID_CLASIFICACION_MUNICIPIO  59052 non-null  int64
 18  CODIGOINTERNODEPTO          59052 non-null  int64
 19  DEPTO                       59052 non-null  object
 20  CODIGOINTERNOMUNI           59052 non-null  int64
 21  MUNI                        59052 non-null  object
 22  LOCALIDAD_ID                59052 non-null  object
 23  CODLOCALIDAD                59052 non-null  object
 24  LOCALIDAD                   59052 non-null  object
 25  INSPECCION_ID               59052 non-null  object
 26  CODINSPECCION               59052 non-null  object
 27  INSPECCION                  59052 non-null  object
 28  RESGUARDO_ID                59052 non-null  object
 29  CODRESGUARDO                59052 non-null  object
 30  RESGUARDO                   59052 non-null  object
 31  AREA_ID                     59052 non-null  int64
 32  AREA_CODIGO                 59052 non-null  int64
 33  AREA_NOMBRE                 59052 non-null  object
 34  SECTOR_ID                   59052 non-null  int64
 35  SECTOR_CODIGO               59052 non-null  int64
 36  SECTOR_NOMBRE               59052 non-null  object
 37  NATURALEZA_ID               59052 non-null  object
 38  CODNATURALEZA               59052 non-null  object
 39  NATURALEZA                  59052 non-null  object
 40  SEDE_ACTO_NUMERO            59052 non-null  object
 41  SEDE_ACTO_FECHA             59052 non-null  object
 42  SEDE_INICIO_FECHA           59052 non-null  object
 43  REGIMEN_ID                  59052 non-null  object
 44  CODREGIMEN                  59052 non-null  object
 45  REGIMEN                     59052 non-null  object
 46  SECRETARIA_ID               59052 non-null  int64
 47  SECRETARIA_CODIGO           59052 non-null  int64
 48  SECRETARIA_NOMBRE           59052 non-null  object
 49  SUBSEDE_ID                  59052 non-null  int64
 50  SUBSEDE_CODIGO              59052 non-null  int64
 51  SUBSEDE_NOMBRE              59052 non-null  object
 52  TERRITORIAL_ID              59052 non-null  int64
 53  TERRITORIAL_CODIGO          59052 non-null  int64
 54  TERRITORIAL_NOMBRE          59052 non-null  object
 55  SEDE_TIPO_PROCEDENCIA       59052 non-null  int64
 56  TIPOPROCEDENCIA             59052 non-null  object
 57  SEDE_BILINGUE               59052 non-null  object
 58  ES_BILINGUE                 59052 non-null  object
 59  TIPOBILINGUE_ID             59052 non-null  object
 60  TIPOBIL_NOMBRE              59052 non-null  object
 61  SEDE_SEIP                   59052 non-null  object
 62  ES_SEIP                     59052 non-null  object
 63  COMUNIDADNEGRA_ID           59052 non-null  object
 64  COMNEGR_NOMBRE              59052 non-null  object
 65  SEDE_SISTEMA_ETNOEDUCATIVO  59052 non-null  object
 66  ES_SISTEMA_ETNOEDUCATIVO    59052 non-null  object
 67  SEDE_EDUCACION_ESPECIAL     59052 non-null  object
 68  ES_EDUCACION_ESPECIAL       59052 non-null  object
dtypes: int64(21), object(48)
memory usage: 31.1+ MB